@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

.MuiButtonGroup-root {
  button {
    border: 1px solid #6c757d;
    color: black;
    padding: 4px 18px;
    font-family: "Tajawal", sans-serif;
    height: 100%;
  }
}


/*Netbooks, Notebooks and Desktops*/
@media only screen and (min-width: 768px) {
  .MuiButtonGroup-root {
    a:first-child {
      button {
        border-radius: 20px 0px 0px 20px;
      }
    }

    a:nth-child(2) {
      button {
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
      }
    }

    a:last-child {
      button {
        border-radius: 0px 20px 20px 0px;
      }
    }

    a .inWelcome {
      padding: 0px 18px;
      height: 85%;
    }
  }
}
/*Mobile*/
@media only screen and (max-width: 768px) {
  .MuiButtonGroup-root {
    a:nth-child(2) {
        margin:10px 0;
    }
  }
}