main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  main {
    padding-bottom: 3.5rem;
  }
  header{
    padding: 10px 0;
  }
}
