main{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
/*Notebooks and Desktops*/
@media only screen and (min-width: 768px) {
    main{
        padding-bottom: 2.5rem;
    }
}
/*Mobile*/
@media only screen and (max-width: 768px) {
    main{
        padding-bottom: 3.5rem;
    }
}