/*Netbooks, Notebooks and Desktops*/
@media only screen and (min-width: 768px) {
    .MuiButtonGroup-root{
        button{
            border: 1px solid #6c757d;
            color: black;
            padding:6px 16px;
        }

        a:first-child{
            button{
                border-radius: 20px 0px 0px 20px;
            }
        }
        a:nth-child(2){
            button{
                border-radius: 0px;
                border-left: 0px;
                border-right: 0px;
            }
        }
        a:last-child{
            button{
                border-radius: 0px 20px 20px 0px;
            }
        }
    }
}