@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Source+Sans+Pro:wght@300&family=Taviraj:wght@200&display=swap");
.Card {
  background-color: rgba(0, 0, 0, 0); //all card transparent by default

  &:first-child {
    margin-top: 0; // top margin (from the filters) is taken care of by the container
  }

  &:last-child {
    margin-bottom: 0; // bottom margin (from the footer) is taken care of by the container
  }


  .cardPicture {
    overflow: hidden;
    position: relative;
    justify-content: center;
    padding:0;
    .carouselContainer{
      max-height: 350px;
      overflow: "hidden";
      margin: "auto";
        img {
          width: 100%;
          height: 350px;
          object-fit: contain;
        }
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background-color: #94A1A6;
      width: 30px;
      height: 30px;
    }
  }

  .cardTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;

    .locationAndCardPrice {
      display: flex;
      flex-direction: column;

      .location {
        font-family: "Taviraj", serif;
        font-size: calc(1.325rem + .9vw);
        margin-bottom: 7px;
      }

      .cardPrice {
        font-family: "Heebo", sans-serif;
      }
    }

    .characteristicsIcon {
      max-width: 25px;
      margin-right: 5px;
      height: auto;
    }

    //caracteristics (bedrooms, bathrooms,...)
    ul {
      margin: 0;

      li {
        display: inline-block;
        font-family: "Source Sans Pro", sans-serif;
      }

      .buildingStatusLi {
        display: flex;
        margin-top: 0.7rem;
        font-weight: bold;
      }
    }

    .cardLinksContainer {
      .linkOuter {
        background-color: #f8f9fa;
        appearance: none;
        border-radius: 20px;
        border-width: 0;
        border-top: 1px solid #e9ecef;
        box-shadow: rgba(45, 35, 66, 0.2) 0 2px 2px,
          rgba(45, 35, 66, 0.15) 0 7px 10px -3px, #d6d6e7 0 -3px 0 inset;
        box-sizing: border-box;
        cursor: pointer;
        height: 70px;
        line-height: 1;
        position: relative;
        transition: box-shadow 0.15s, transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
      }

      .linkOuter:focus {
        box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
          rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      }

      .linkOuter:hover {
        box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
          rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
      }

      .linkOuter:active {
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
      }

      .linkInner {
        height: 100%;
        padding: 0.3rem;

        a {
          align-items: center;
          //separates logo from typography
          height: 100%;
          justify-content: space-evenly;
          //logo up, typo down.
          display: flex;
          flex-direction: column;

          img {
            height: 35px;
            max-width: 60px;
          }

          .typography {
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .Card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px 6px 0 0;

    .cardPicture {
      border-radius: 6px 6px 0 0;
    }

    .cardTxt {
      text-align: center;
      padding: 0;

      .location {
        margin-top: 0.5rem;
      }

      hr {
        margin: 0.5rem 0px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
      }

      ul {
        padding: 0.5rem 1rem;

        li {
          text-align: left;
          width: 49%;
          &:nth-child(even){
            margin-left: 2%;
          }
        }
      }

      .cardLinksContainer {
        .row {
          justify-content: space-evenly;

          .linkOuter {
            margin: 0.5rem 0px 1rem 0px;
          }
        }
      }
    }
  }
}

/*Notebooks and Desktops*/
@media only screen and (min-width: 768px) {
  .cardOuterBackground {
    padding: 1.5rem;
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgba(50, 50, 50, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    .Card {
      margin: 0;
      box-shadow: rgb(50, 50, 50) 0px 16px 14px -10px;

      .cardPicture {
        z-index: 2;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        background-color: #edede9;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aaaaaa' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

        img {
          max-height: 90%;
          box-shadow: 0px -3px 3px -1px rgba(80, 80, 80, 0.6), 0px 3px 3px -1px rgba(80, 80, 80, 0.6);
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }

      .cardTxt {
        z-index: 3;
        border: 1px solid #e5e5e5;
        border-left: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23aaaaaa' fill-opacity='0.17' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-left: 1px solid rgba(50, 50, 50, 0.3);

        .location {
          margin-top: 1.5rem;
        }

        ul {
          padding: 0;

          li {
            width: 50%;
          }
        }
      }

      .cardLinksContainer {
        margin-bottom: 0.7rem;

        .row {
          justify-content: flex-start !important;

          .cardLinkCol {
            padding: 0px 1.4rem;
          }
        }
      }
    }
  }
}

/*Tablet*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .Card .cardTxt ul {
    // takes characteristics to the center of the card
    padding: 0.5rem 7rem;
  }
}