main{
  background-image:url('/src/assets/backgrounds/orangish-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#topBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #fdfdff;

  #brand {
      font-family: 'Libre Franklin', sans-serif;
      z-index: 2;
      background-color: white;
      margin-right: 1.5rem;
  }

  #hr {
      position: absolute;
      width: 100%;
      border: 1px solid #6c757d;
      border-top: none;
      z-index: 1;
      top: 50%;
  }
}