/*Mobile*/
@media only screen and (max-width: 767px) {
  #cardsContainer {
    width: 90%;
    margin: 1.5rem auto 0px auto;

    .cardOuterBackground {
      padding: 1rem;
      margin-bottom: 4rem;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 6px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*Notebooks and Desktops*/
@media only screen and (min-width: 768px) {
  #cardsContainer {
    padding: 0.2rem 0px; //allows border-radius to work
    width: 95%;
    margin: 2.5rem auto 0px auto;

    .row {
      justify-content: center;
    }

    .cardOuterBackground {
      &:last-child {
        .cardSeparator {
          display: none;
        }
      }
    }
  }
}
