footer {
  background-color: #4b4e58;
  color: #a99985;
  text-align: center;
  font-style: italic;
  a {
    color: #a99985;
    &:hover{
      color:#fafafa;
    }
  }
}

/***********************/
/*Laptops and desktops*/
@media only screen and (min-width: 992px) {
  footer {
    font-size: 0.8rem;
    padding-right: 1rem;
  }
}

/***********************/
/*Tablets and phones*/
@media only screen and (max-width: 992px) {
  footer {
    font-size: 0.9rem;
    border-bottom: 1px solid #4b4e58;
  }
}
