@use "./resets.scss";
// Main
@use "./pages/main/main.scss";
@use "./pages/main/components/gallery/cards/card.scss";
@use "./pages/main/components/gallery/container/gallery.scss";
@use "./pages/main/components/filters/container/filtersContainer.scss";
@use "./pages/main/components/filters/location/locationFilter.scss";
@use "./pages/main/components/filters/price/priceFilter.scss";
@use "./pages/main/components/filters/rooms/slider.scss";
@use "./pages/main/components/filters/surface/surface.scss";
@use "./pages/main/components/filters/buildStatus/buildStatus.scss";
@use "./pages/main/components/filters/buttons/cleanBtn.scss";
@use "./pages/main/components/gallery/noBuildings/noBuildings.scss";
// Shared
@use "./components/navbar/container/navbar.scss";
@use "./components/navbar/btns-desktop/navBtns.scss";
@use "./components/navbar/select-mobile/select.scss";
@use "./components/footer/attributions.scss";
// Welcome
@use "./pages/welcome/welcome.scss";
@use "./pages/welcome/blobs/blobs.scss";
// NoRoute
@use "./pages/routeError/routeError.scss";
// Admin
@use "./pages/adminPanel/baseComponents/adminPanel.scss";
@use "./pages/adminPanel/create/createBuildingForm.scss";