@use "./resets.scss";
@use "./components/gallery/cards/card.scss";
@use "./components/gallery/container/gallery.scss";
@use "./components/filters/container/filtersContainer.scss";
@use "./components/filters/location/locationFilter.scss";
@use "./components/filters/price/priceFilter.scss";
@use "./components/filters/rooms/slider.scss";
@use "./components/filters/surface/surface.scss";
@use "./components/filters/buildStatus/buildStatus.scss";
@use "./components/navbar/container/navbar.scss";
@use "./components/navbar/btns-desktop/navBtns.scss";
@use "./components/filters/buttons/cleanBtn.scss";
@use "./pages/main/main.scss";
@use "./pages/welcome/welcome.scss";
@use "./pages/welcome/blobs/blobs.scss";
@use "./components/footer/attributions.scss";
@use "./pages/routeError/routeError.scss";