@use './resets.scss';
@use './components/gallery/cards/card.scss';
@use './components/filters/container/filtersContainer.scss';
@use './components/filters/location/locationFilter.scss';
@use './components/filters/price/priceFilter.scss';
@use './components/filters/Slider/slider.scss';
@use './components/filters/surface/surface.scss';
@use './components/filters/buildStatus/buildStatus.scss';
@use './components/navbar/container/navbarContainer.scss';
@use './components/navbar/btns/navBtns.scss';
@use './pages/content.scss';
